@keyframes backgroundTransition {
    from {
        background-color: rgb(0, 0, 0);
    }
    to {
        background-color: #4b0202; /* bloody red */
    }
}

body {
    animation: backgroundTransition 3s ease-in-out forwards;
}
